@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#ff0077 ;
}

body{
    position: relative;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 60px;
    z-index: 20;
    transition: 1s;
    transition-delay: 0.5s;
}
header .active{
    width: 10%;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: black;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-box {
    top: 20px;
    left: 0px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; 
    padding: 10px 15px;
    margin: 0;
}
.logo h1 {
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo i {
    color: #FF5722;
    font-size: 28px;
}

.logo-box  small {
    margin: 0;
    font-size: 14px;
    color: #333333;
    font-weight: 100;
}

header .active .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav{
    display: flex;
    gap: 20px;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transform-origin: left;
}
header .active.nav{
    opacity: 1;
    visibility: hidden;
}
.nav li {
    list-style: none;
    margin: 0 20px;
    font-size: 25px;
}
.nav li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    padding: 10px;

}
.nav li:hover , .nav-mobile li:hover{
    color: var(--primary);
}
.nav-mobile{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}
.nav-mobile.active{
    opacity: 1;
  visibility: visible;
}
.nav-mobile li{
    list-style: none;
    transform: rotateZ(90deg);
    margin-top: 120px;
    width: 200px;

}
.nav-mobile li a {
    text-decoration: none;
    display: inline;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
}
.menu{
    display: none;
    font-size: 2em;
    transition: 1s;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    margin-left: auto;

}
.menu ion-icon{
    transform: rotateZ(0);
    color: #000000;
}
header.active .menu {
    display: block;
    transform: translateX(-50%) rotateZ(0);
    transition: 0.5s;
    
     
}
.menu .active{
    transform: translateX(-50%) rotateZ(45deg) !important;
}
.banner{
    position: relative;
    width: 45%;
    min-height: 100vh;
    padding: 0 60px;
    background: #ffffff;
    overflow: hidden;
    transition: ease-in-out 1s;
    z-index: 10;

}
.banner.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
    width: 10%;
    transition: ease-in-out 1s;
}
.banner.active .content h1,
.banner.active .content a.btn {
  display: none;
}
header.active {
  display: none !important;
}
.banner.active .content .arrow{
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  color: var(--primary);
  z-index: 1000;
}
.banner .content{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
}
.banner .content h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 9em;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    margin-bottom: 20px;
    transition: 1s;
    transition-delay: 0.5s;

}
.banner.active .content h1 {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translate3d(-100%);
    
}
.banner .content a.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.banner .content a.btn ion-icon {
    font-size: 1.1em;

}
.banner .content a.btn:hover{
    gap: 30px;

}
.banner .content .arrow {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    border: none;
    z-index: 100;

}
.banner .content .arrow ion-icon {
    font-size: 2em;
    transition: 0.5s;
}
.banner .content .arrow:hover ion-icon{
    color: var(--primary);

}
.banner.active .content .arrow{
    opacity: 1;
    visibility: visible;
}
.banner.active .content a.btn{
    opacity: 0;
    visibility: hidden;

}
.banner-middle .container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  height: 100vh;
  /* padding: 10px; */
  
}

.banner-middle{
    position: absolute;
    top: 0;
    width: 45%;
    left: 45%;
    height: 100vh;
    padding: 0 10px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: ease-in-out 1s;
    transition-delay: 0.2s;


}
.banner-middle.active {
    left: 10%;
    display: block;
}

.swiper-wrapper {
  height: 100%;
}
.swiper-womens,
.swiper-men,
.swiper-new {
    width: 100%;
    height: 100%;

}.banner-middle.swiper {
  height: 100%;
  width: 100%;
  background: #fff;
  overflow: hidden;
}

 .swiper-slide {
    cursor: pointer;
    transition: 0.3s;
    height: auto;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    
}
.swiper-slide:hover {
  border-color: var(--primary);
  background-color: #f9f9f9;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.banner-right {
    position: absolute;
    position: relative;
    top: 0;
    left: 90%;
    width: 45%;
    height: 100vh;
    padding: 50px 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    transition: ease-in-out 1s;
    transition-delay: 0.4s;
}
.banner-right.active{
    left: 55%;
}
.banner-right h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 8.5em;
    letter-spacing: 2PX;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    margin-bottom: 20PX;
    transition: 0.5s;
    transform-origin: left;
    line-height: 1em;


}
.banner-right .number {
    position: absolute;
    font-size: 6em;
    top: 10%;
    right: 15%;
}

.banner-right .content{
    display: flex;
    border: 1px solid;
    border-image: linear-gradient(90deg, #000000, transparent, transparent) 30;
}
.content img {
    padding: 20px;
    max-width: 55%;
    object-fit: cover;
    border-left: 1px solid;
    border-image: linear-gradient(#000000, transparent, transparent) 30;

}
.content .description{
    padding: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient( transparent, transparent,#000000) 30;
}
.content .description h3{
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 15px;
     
}
.content .description span{
    text-transform: uppercase;
    font-weight: 300;

}
.content .description p {
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.content .description a {
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;

}
.content .description a ion-icon{
    margin-left: 3px;
    transition: 0.5s;

}
.content .description a:hover{
    color: var(--primary);
}
.footer-content {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 200;
    font-size: 0.8em;

}
.credits a{
    text-decoration: none;
    color: var(--primary);
}
.sci {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    display: inline-flex;
    justify-content: center;
    gap: 25px;
    z-index: 20;

}
.sci li{
    list-style: none;
}
.sci a{
    text-decoration: none;
    cursor: pointer;
}
.sci a ion-icon{
    font-size: 1.5em;
    color: #000000;
    transition: 0.3s;
}
.sci a:hover ion-icon{
    color: var(--primary);
}